body{
  min-width: 365px;
}

html {
  scroll-behavior: smooth;
}

.sections{
  margin-top: 60px;
}

.grey-background{
  background-color: rgb(241, 240, 245); 
  min-height: 100vh;
  width: 100%;
  z-index:-1;
}

.spacer{
  min-height: 20px;
  width: 100%;
  z-index:1;
  background-color: rgb(241, 240, 245);
}

.z-top{
  z-index:2;
  top: 20px;
  right: 2px;
  left: 2px;
}

.padding-head{
  padding-top: 20px;
}

.pic-50{
  width: 80vw;
  min-height: 80vw;
  border: 5px solid white;
  background: url("../assets/profile-picture.jpg") -10px 0px ;
  background-repeat: no-repeat;
 
  background-size: cover
}

.font-robo{
  font-family: 'Roboto', sans-serif;
}

.font-pt{
  font-family: 'PT Serif', serif;

}

.bg-orange{
    background-color: rgb(248, 76, 8);
}

.bg-grey{
  background-color: rgb(23, 23, 39);
}

.bg-purple{
  background-color: rgb(48, 10, 36);
}

.text-orange{
  color:  rgb(248, 76, 8)!important;
}

.margin-header{
  margin-top: 50px;
}

:root {
  --color-bg: #252a33;
  --color-text: #eee;
  --color-text-subtle: #a2a2a2;
}

[data-termynal] {
  width: 750px;
  max-width: 100%;
  background: var(--color-bg);
  color: var(--color-text);
  font-size: 18px;
  font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
  border-radius: 4px;
  padding: 75px 45px 35px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[data-termynal]:before {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  /* A little hack to display the window buttons in one pseudo element. */
  background: #d9515d;
  -webkit-box-shadow: 25px 0 0 #f4c025, 50px 0 0 #3ec930;
          box-shadow: 25px 0 0 #f4c025, 50px 0 0 #3ec930;
}

[data-ty] {
  display: block;
  line-height: 2;
}

[data-ty]:before {
  /* Set up defaults and ensure empty lines are displayed. */
  content: '';
  display: inline-block;
  vertical-align: middle;
}

[data-ty="input"]:before,
[data-ty-prompt]:before {
  margin-right: 0.75em;
  color: var(--color-text-subtle);
}

[data-ty="input"]:before {
  content: '$';
}

[data-ty][data-ty-prompt]:before {
  content: attr(data-ty-prompt);
}

[data-ty-cursor]:after {
  content: attr(data-ty-cursor);
  font-family: monospace;
  margin-left: 0.5em;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}


@-webkit-keyframes blink {
  50% {
      opacity: 0;
  }
}

@keyframes blink {
  50% {
      opacity: 0;
  }
}

.zoom {
  transition: transform .2s;
  
}

.zoom:hover {
  transform: scale(1.08); 
  z-index: 0;
}

.tenis-pr {
  width:100%
}

.project-1-bg{
  width: 100%;
  min-height: 300px;
  background: url("../assets/tennis1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transition: transform .2s;
 }

 .project-1-bg:hover {
  width: 100%;
  background: url("../assets/frame_tennis.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  background-position: center center;
  
}

.project-2-bg{
  width: 100%;
  min-height: 300px;
  background: url("../assets/expenses1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin: auto;
  transition: transform .2s; /* Animation */
 }

 .project-2-bg:hover {
  width: 100%;
  background: url("../assets/expenses2f.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  background-position: center center;
}

.project-3-bg{
  width: 100%;
  min-height: 300px;
  margin: auto;
 }

 .project-3-bg:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.project-4-bg{
  width: 100%;
  min-height: 300px;
  background: url("../assets/devices-coronagame.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transition: transform .2s;
 }

 .project-4-bg:hover {
  width: 100%;
  background: url("../assets/coronagame-phone.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  background-position: center center;
  
}

.project-5-bg{
  width: 100%;
  min-height: 300px;
  background: url("../assets/donuts-page.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transition: transform .2s;
 }

 .project-5-bg:hover {
  width: 100%;
  background: url("../assets/donuts-frame.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  background-position: center center;
  
}

.project-6-bg {
  width: 100%;
  min-height: 300px;
  background: url("../assets/weather-devices.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transition: transform .2s;
 }

 .project-6-bg:hover {
  width: 100%;
  background: url("../assets/weather-frame.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  background-position: center center;
  
}

.project-7-bg {
  width: 100%;
  min-height: 300px;
  background: url("../assets/devices-sticky.PNG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transition: transform .2s;
 }

 .project-7-bg:hover {
  width: 100%;
  background: url("../assets/sticky-screen.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  background-position: center center;
 }


 .project-8-bg {
  width: 100%;
  min-height: 300px;
  background: url("../assets/recipes-devices.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transition: transform .2s;
 }

 .project-8-bg:hover {
  width: 100%;
  background: url("../assets/frame-recipes.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  background-position: center center;
 }

 .project-9-bg {
  width: 100%;
  min-height: 300px;
  background: url("../assets/petscareDevices.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transition: transform .2s;
 }

 .project-9-bg:hover {
  width: 100%;
  background: url("../assets/petscare-screens.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  background-position: center center;
 }
  

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@media only screen and (max-width: 991px) and (min-width: 600px )   {
  .pic-50{
    margin-top: 10vw;
    width: 45vw;
    min-height: 45vw;
    border: 5px solid white;
    background: url("../assets/profile-picture.jpg") -20px 0px ;
    background-repeat: no-repeat;
    background-size: cover
    }
}


@media only screen and (min-width: 992px) {
  .rond{
    border-radius: 50em!important;  
  }

  .sections{
    margin-top: 0px;
  }

  .pic-50{
  width: 35vw;
  min-height: 35vw;
  border: 5px solid white;
  background: url("../assets/profile-picture.jpg") -20px 0px ;
  background-repeat: no-repeat;
  background-size: cover
  }

  .padding-head{
    padding-top: 100px;
  }



  .z-top{
    right: 20px;
    left: 20px;
  }

}
